#menú {
	width:100%;
	padding-top:10px;
	margin:auto;
	background:#FFFFE0;
}
#menú ul a{
	text-decoration: none;
	color: #663366;
	font: bold 18px Cambria;
	padding: 20px 20px 20px 20px;
	margin-right: -8px;
	transition: background .2s, padding .2s;
	
}
#menú ul a:hover{
	background:#FFE4E1;
	padding: 17px 17px 17px 17px;
}
input[type="search"]{
    width: 55%; 
    padding: 9px 10px 9px 30px;
    border-radius: 18em;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
input[type="search"]:focus{
    color: #000;
    background-color: #FFF;
}

h3 {	
	font-family: Lucida Calligraphy;
	color: #9900cc;
	width: 500px;
	height: auto;
	margin: 10px auto; }

p { font-family: Cambria ;
	color: #66cc66;
	font-size: 28pt ;
	width: 1000px;
	height: auto;
	margin: 10px auto; }
#cuerpo{
	height:60%;
	padding:20px 0;
	}
#pie{
	
	font-family:Lucida Calligraphy;
	width:100%;
	clear:both;
	float: right;
	border: 0;
	margin-top: 2px;
	padding: 2px;
	overflow: auto;
	font-size: 16px;
	text-align: justify;
}

.efectors{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}

.efectors:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
.opacity img {
filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;}

.opacity:hover img {
filter:alpha(opacity=110);
-moz-opacity: 1.1;
opacity: 1.1;
}

/*Estilos Generales*/
.button {
	background:#7f8c8d;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
	padding:8px 0;
	text-align:center;
	width:100%;
	text-decoration:none;
	box-shadow:0px 3px 0px 0px 3px #373c3c;}
.button span {
	margin-right:10px;}
/*Colores*/
.button {
	background:#FAAC58;
	box-shadow:0px 3px 0px 0px 3px #b55704;}
/*Tamaños*/
.button {
	width:170px;}
.button {
	border-radius:46%;}
/*Efectos, Hover*/
.button:hover {
	box-shadow:0px 0px 0px 0px 0px;
	padding-top:15px;}	


.imagen:hover{
border-radius:35%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(3600deg);
-webkit-transform: rotate(3600deg);
}